<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tadamski.arij" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:name=".Application"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".account.activity.AccountSelectorActivity_"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*"
                      android:pathPattern="/.*browse/.*"
                      android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".issue.list.IssueListActivity_"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".issue.single.activity.single.view.IssueActivity_"
            android:launchMode="singleTop"
            android:parentActivityName=".issue.list.IssueListActivity_"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".issue.comments.activity.CommentsActivity_"
            android:parentActivityName=".issue.single.activity.single.view.IssueActivity_"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".issue.worklog.list.WorklogsActivity_"
            android:parentActivityName=".issue.single.activity.single.view.IssueActivity_"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".account.activity.AddNewAccountActivity_"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".issue.worklog.newlog.activity.NewWorklogActivity_"
            android:theme="@android:style/Theme.Holo.Light" />

        <service
            android:name=".account.authenticator.AuthenticationService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- Homescreen widget -->
        <receiver
            android:name=".widget.HomeScreenWidgetProvider"
            android:enabled="@bool/homescreen_widget_enabled"
            android:icon="@drawable/ic_launcher"
            android:label="@string/homescreen_widget_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/homescreen_widget" />
        </receiver>

        <service
            android:name=".widget.RefreshHomescreenWidgetService"
            android:enabled="@bool/homescreen_widget_enabled"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".widget.options.HomescreenWidgetOptionsActivity_"
            android:enabled="@bool/homescreen_widget_enabled"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- Used for install referral measurement -->
        <service android:name="com.google.analytics.tracking.android.CampaignTrackingService" />

        <receiver
            android:name="com.google.analytics.tracking.android.CampaignTrackingReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
